.features {
  padding:60px 0;
  @include desktop {
    padding:94px 0;
  }

}

.feature__subtitle {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  @include tablet{
    display: block;
  }
}

.feature__text {
  line-height: 1.71;
  color: var(--color-context);
}

.features__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px 30px;
}

.features__item {
  // display: flex;
  margin-bottom: 30px;
  width: 270px;
  &:last-child{
    margin-bottom: 0px;
  }
  &:nth-last-child(2) {
  @media screen and (min-width:768px) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width:1200px){
    margin-bottom: 0px;
  } 
}

.features__thumb {
  @include flex-centered();
  margin-bottom: 30px;
  min-height: 120px;
  background-color: var(--white-background);
}

.features__icon {
  width: 70px;
  height: 70px;
}